<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.eduzut.wi57845" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Oskar 57845</name>
	<description>Weather App</description>
	<author email="ro57845@zut.edu.pl" href="https://www.wi.zut.edu.pl">
		Oskar Radawiec
	</author>
	<content src="weather.html" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />

	<platform name="electron">
		<icon src="res/electron/pogodynka.png" />
		<preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
	</platform>
</widget>