<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Book Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">HOME</a></li>
                    <li><a href="{{ url_for('book.book_index') }}">BOOKS</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2026 - Book Application</p>
        </footer>
    </div>
</body>
</html>